<div class="container">
  <div class="row">
    <div class="col-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6381.132898127915!2d10.190827353303085!3d36.90071875686025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2cb745e5c6f1b%3A0xf69a51ee3c65c12e!2sESB%20%3A%20Esprit%20School%20of%20Business!5e0!3m2!1sfr!2stn!4v1707184761375!5m2!1sfr!2stn" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="info"></iframe>
    </div>
    <div class="col-6">
      <main class="body">
        <h1 class="custom-heading">Date And Location</h1>

        <p class="custom-paragraph">The Esprit Perspectives Forum will be held in a hybrid format, with an in-person session at the Esprit School of Business on November 28, 2024, and an online session on Seekube on December 6 & 7, 2024.</p>      </main>
    </div>
  </div>
</div>  