<div class="container">
  <form (ngSubmit)="updateOffre()" class="form-container">
    <div class="form-group">
      <label for="reference">Reference :</label>
      <input type="text" id="reference" name="reference" class="form-control" required [(ngModel)]="offre.reference">
    </div>
    <div class="form-group">
      <label for="title">Title :</label>
      <input type="text" id="title" name="title" class="form-control" required [(ngModel)]="offre.title">
    </div>
    <div class="form-group">
      <label for="location">Location :</label>
      <input type="text" id="location" name="location" class="form-control" required [(ngModel)]="offre.location">
    </div>
    <div class="form-group">
      <label for="description">Description :</label>
      <textarea id="description" name="description" class="form-control" required [(ngModel)]="offre.description"></textarea>
    </div>
    <div class="form-group">
      <label for="deadline">Deadline :</label>
      <input type="date" id="deadline" name="deadline" class="form-control" required 
             [ngModel]="offre.deadline | date:'yyyy-MM-dd'" 
             (ngModelChange)="offre.deadline = $event">
    </div>
    <div class="form-group">
      <label for="contratType">Contrat Type :</label>
      <select id="contratType" name="contratType" class="form-control" required [(ngModel)]="offre.contratType">
        <option value="CDI">CDI</option>
        <option value="CDD">CDD</option>
        <option value="Stage">Stage</option>
        <option value="Freelance">Freelance</option>
      </select>
    </div>
    <div class="form-group">
      <label for="skills">Skills :</label>
      <input type="text" id="skills" name="skills" class="form-control" required [(ngModel)]="offre.skills">
    </div>
    <div class="form-group">
      <label for="experienceLevel">Experience Level:</label>
      <select id="experienceLevel" name="experienceLevel" class="form-control" required [(ngModel)]="offre.experienceLevel">
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
      </select>
    </div>
    <div class="form-group">
      <label for="publicationTime">Publication Time:</label>
      <input type="text" id="publicationTime" name="publicationTime" class="form-control" [value]="elapsedTime" disabled>
    </div>    
    <button type="submit" class="btn btn-primary btn-block">
      <i class="fa fa-plus-circle"></i> Update
    </button>
    <button type="button" class="btn btn-danger" (click)="cancelEdit()">
      <i class="fa fa-times"></i> Cancel
    </button>
  </form>
</div>
