<h2 data-aos="fade-up">How to Prepare Well for the ESPRIT Forum?</h2>
<h3 data-aos="fade-up" data-aos-delay="100">The ESPRIT Forum is an opportunity to meet with companies. It's now up to you, the student, to make the most of this event for your projects and future.</h3>

<div class="timeline">
  <div class="timeline__event timeline__event--type1" data-aos="fade-up" data-aos-delay="300">
    <div class="timeline__event__icon ">
      <i class="lni-cake"></i>
      <div class="timeline__event__date">
        CV
      </div>
    </div>
    <div class="timeline__event__content ">
      <div class="timeline__event__title">
        Resume
      </div>
      <div class="timeline__event__description">
        <p>Bring your resume after having carefully prepared it (no errors, appropriate formatting…)
        </p>
      </div>
    </div>
  </div>
  <div class="timeline__event timeline__event--type2" data-aos="fade-up" data-aos-delay="500">
    <div class="timeline__event__icon">
      <i class="lni-burger"></i>
      <div class="timeline__event__date">
        Interviews
      </div>
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Interviews
      </div>
      <div class="timeline__event__description">
        <p>Prepare for your interviews:
        </p>
        <ul>
            <li>Research the company
            </li>
            <li>Define what you expect from this company (an internship, a first job, what position...)
            </li> 
            <li>Dress appropriately for the interview (a suit isn't mandatory but too casual attire isn’t advisable)
            </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="timeline__event timeline__event--type3" data-aos="fade-up" data-aos-delay="700">
    <div class="timeline__event__icon">
      <i class="lni-slim"></i>
      <div class="timeline__event__date">
        LinkedIn
    </div>
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        LinkedIn
      </div>
      <div class="timeline__event__description">
        <p>Registering on LinkedIn would be a good way to easily maintain contact with companies and build your network.
        </p>
      </div>
    </div>
  </div>
</div>
