<div class="container" id="container">
    <a><button type="button" id="button2" class="button"><span></span></button></a>
        <div class="row">
            <table class="table table-hover" >
                <thead>
                  <tr>
                    <th scope="col">Comments</th>
                    <!-- <th>Action</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                    <td>
                      {{item.comment}}
                      <span *ngIf="item.confirmed">
                        <img src="../../../../assets/correct.png" alt="Correct Image" style="width: 20px; height: 20px;">
                      </span>
                    </td>
                    <td>
                      <a><button type="button" id="button2" class="button" (click)="performAction(item.codeComment)"><span>Accept</span></button></a>
                    </td>
                  </tr>
                </tbody>
              <!--  <div>
                  <h1>Total</h1>
                  <p id="total">price</p>
                </div>-->
              </table>  
      </div>
</div>
