<section class="deneb_cta">
    <div class="container">
        <div class="cta_wrapper">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="cta_content">
                        <h3>Want to submit your CV?</h3>

						<p>Are you ready to unleash your potential and take your career to the next level? Join our vibrant community and explore exciting opportunities for growth and development.</p>                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="button_box">
                        <a routerLink="/login" class="btn">Submit your CV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="deneb_footer">
    <div class="widget_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="widget widget_about">
                        <div class="widget_title">
                            <h4>About ESPRIT Forum</h4>
                        </div>
                        <p>Explore the ESPRIT forum, a place for students, alumni, and professionals to share knowledge, discuss ideas, and foster connections.</p>
                        <ul class="social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="widget widget_link">
                        <div class="widget_title">
                            <h4>Quick Links</h4>
                        </div>
                        <ul>
                            <li><a routerLink="/">Home</a></li>
                            <li><a routerLink="/exposant">Exhibitors</a></li>
                            <li><a routerLink="/info-pratiques">Practical Info</a></li>
                            <li><a routerLink="/contact">Contact</a></li>
                            <li><a routerLink="/login">Log In</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="widget widget_contact">
                        <div class="widget_title">
                            <h4>Contact Us</h4>
                        </div>
                        <div class="contact_info">
                            <div class="single_info">
                                <div class="icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <div class="info">
                                    <p><a href="tel:+21670250000">(+216) 70 250 000</a></p>
                                </div>
                            </div>
                            <div class="single_info">
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="info">
                                    <p><a href="mailto:contact@esprit.tn">contactesprit.tn</a></p>
                                </div>
                            </div>
                            <div class="single_info">
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="info">
                                    <p>ESPRIT, Tunisia</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright_text">
                        <p>2023 &copy; All Rights Reserved. Created by ESPRIT.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
