<div class="container">
    <h3 class="h3 mb-3 fw-normal">RECLAMATION</h3>
        <form [formGroup]="itemForm" (ngSubmit)="addItem()">
          <div id="form">
          <div class="row" >
          
            <div class="col-6">
              <div class="form-floating">
                <mat-form-field appearance="fill">
                  <mat-label>Select the type of your reclamation</mat-label>
                  <mat-select formControlName="type">
                    <mat-option *ngFor="let type of types" [value]="type.value">
                      {{ type.viewValue }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="itemForm.get('type')?.hasError('required')">
                    This input is required!
                  </mat-error>
                </mat-form-field>
              </div>
              
            </div>
            
            <div class="col-6">
              <div class="form-floating">
                <textarea matInput formControlName="description" placeholder="description"></textarea>
                <mat-error *ngIf="itemForm.get('description')?.hasError('required')">
                  This input required!
                </mat-error>
              </div>
            </div>
            
            
         
             
           
           
           
      </div>
          
    
          <button class=" btn btn-lg btn-primary"type="submit">Add Reclamation</button>
          </div>
        </form>
    </div>
    