<section class="pt-80 pb-70">
    <div class="text-center mb-60 position-relative">
        <h5 class="font__family-montserrat font__weight-light text-uppercase font__size-18 text-blue brk-library-rendered" data-brk-library="component__title">Welcome to the ESPRIT Forum</h5>
        <hr class="divider wow zoomIn brk-library-rendered" data-brk-library="component__title" style="visibility: visible; animation-name: zoomIn;">
    </div>
    <div class="container">
        <div class="panel__wrapper-icon mb-100 brk-library-rendered" data-brk-library="component__panel">
            <div class="panel__head all-light">
                <h4 class="font__family-montserrat font__weight-medium font__size-21">Forum Guidelines</h4>
                <p class="font__family-open-sans font__size-14">Welcome to our ESPRIT forum! Please review our community guidelines:</p>
            </div>
            <ul class="panel__list">
                <li>
                    <span class="line"></span>
                    <i class="icon far fa-gem"></i>Respect fellow students and their opinions.
                </li>
                <li>
                    <span class="line"></span>
                    <i class="icon fab fa-gg"></i>Keep discussions focused on relevant topics and avoid spam.
                </li>
                <li>
                    <span class="line"></span>
                    <i class="icon far fa-gem"></i>Maintain politeness and courtesy in all interactions.
                </li>
                <li>
                    <span class="line"></span>
                    <i class="icon fab fa-gg"></i>Report inappropriate behavior to forum moderators.
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="text-center text-lg-left" data-aos="fade-up">
                    <ul class="list-inline-4 mb-35 brk-library-rendered" data-brk-library="component__list">
                        <li class="font__family-montserrat font__size-16">
                            <span class="before"></span><a href="#">Join the Discussions <i class="icon fa fa-angle-right"></i></a><span class="after"></span>
                        </li>
                        <li class="font__family-montserrat font__size-16">
                            <span class="before"></span>Connect with other ESPRIT members <i class="icon fa fa-angle-right"></i><span class="after"></span>
                        </li>
                        <li class="font__family-montserrat font__size-16">
                            <span class="before"></span>Share your knowledge and experience <i class="icon fa fa-angle-right"></i><span class="after"></span>
                        </li>
                    </ul>
                    <p class="brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-25 pr-20 pr-xs-0">
                        Participate and engage with the ESPRIT community to expand your knowledge.
                    </p>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-12 col-lg-6">
                <div class="text-center text-lg-left" data-aos="fade-up">
                    <div class="text-center text-lg-left">
                        <h5 class="font__family-montserrat font__weight-light text-uppercase font__size-18 text-blue brk-library-rendered" data-brk-library="component__title">Why Join ESPRIT Forum</h5>
                        <h2 class="font__family-roboto font__weight-thin line__height-52 font__size-46 text-uppercase letter-spacing-60 mt-20 brk-library-rendered" data-brk-library="component__title">Engage with Experts</h2>
                        <h2 class="font__family-roboto font__weight-normal line__height-52 font__size-46 text-uppercase letter-spacing-60 brk-library-rendered" data-brk-library="component__title">&amp; Fellow Students</h2>
                        <hr class="divider wow zoomIn ml-md-0 brk-library-rendered" data-brk-library="component__title" style="visibility: visible; animation-name: zoomIn;">
                    </div>
                    <p class="brk-dark-font-color font__size-16 font__weight-normal line__height-26 pt-10">
                        The ESPRIT forum is a place to connect with industry professionals and peers. Join discussions, ask questions, and expand your network within the community.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-aos="fade-up">
    <div class="bg__style overflow-hid position-relative" style="background-image: url('img/bg-1920_2.jpg');">
        <div class="container pl-0 pr-0">
            <div class="row no-gutters wave-hover rendered" data-wh-speed="0.4" data-wh-repeat="false" data-wh-delay="3">
                <div class="col-md-6 col-lg-4">
                    <div class="info-box__wrapper-web wpb_column wave-hover-elem brk-library-rendered" data-brk-library="component__info_box">
                        <div class="shape">
                            <span class="before"></span>
                            <div class="svg-wrap">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                                    <path fill="none" stroke="#F39C12" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M20.15,34.19L29.34,25c0,0,1.41,0,3.54,2.12S35,30.66,35,30.66l-9.19,9.19"></path>
                                </svg>
                            </div>
                            <span class="after"></span>
                        </div>
                        <div class="content">
                            <h3 class="font__family-montserrat font__weight-semibold font__size-28">Forum Design</h3>
                            <p class="font__family-open-sans font__size-14">Explore the visually appealing and intuitive design of the ESPRIT forum.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="info-box__wrapper-web wpb_column wave-hover-elem brk-library-rendered" data-brk-library="component__info_box">
                        <div class="shape">
                            <span class="before"></span>
                            <div class="svg-wrap">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                                    <path fill="none" stroke="#9CAAB9" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M42,31h1.43l0.35,2.94l2.65,1.1L49,33l2,2l-2.04,2.56l1.1,2.65L53,40.57v2.87l-2.94,0.35l-1.1,2.65L51,49l-2,2l-2.56-2.04l-2.65,1.1L43.43,53h-2.87l-0.35-2.94l-2.65-1.1L35,51l-2-2l2.04-2.56l-1.1-2.65L31,43.43v-2.87l2.94-0.35l1.1-2.65L33,35l2-2l2.56,2.04l2.65-1.1L40.57,31H42z"></path>
                                </svg>
                            </div>
                            <span class="after"></span>
                        </div>
                        <div class="content">
                            <h3 class="font__family-montserrat font__weight-semibold font__size-28">Forum Development</h3>
                            <p class="font__family-open-sans font__size-14">Dive into the technical aspects of developing the ESPRIT forum for a seamless user experience.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="info-box__wrapper-web wpb_column wave-hover-elem brk-library-rendered" data-brk-library="component__info_box">
                        <div class="shape">
                            <span class="before"></span>
                            <div class="svg-wrap">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                                    <path fill="none" stroke="#34495E" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M52.97,28.91C52.99,29.27,53,29.63,53,30"></path>
                                </svg>
                            </div>
                            <span class="after"></span>
                        </div>
                        <div class="content">
                            <h3 class="font__family-montserrat font__weight-semibold font__size-28">Forum Research</h3>
                            <p class="font__family-open-sans font__size-14">Stay updated on the latest research and analysis shaping the future of ESPRIT's forum community.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="brk-abs-bg-overlay brk-base-bg-gradient-50deg opacity-90"></span>
    </div>
</section>
