
<section class="card-list">
    <article class="card" routerLink="security">
        <header class="card-header">
          <img src="assets/NoPath - Copy (2).png"alt="">
        </header>
        <div class="card-author">
            <a class="author-avatar" href="#">
                <img src="assets/Capture-removebg-preview (7).png"alt="">
            </a>
            <div class="author-name">
                <div class="author-name-prefix">IT System</div>
                Security
            </div>
        </div>
    </article>
    <article class="card">
      <header class="card-header" routerLink="information system">
        <img src="assets/NoPath - Copy (4).png"alt="">
      </header>
      <div class="card-author">
          <a class="author-avatar" href="#">
              <img src="assets/Capture-removebg-preview (7).png"alt="">
          </a>
          <div class="author-name">
              <div class="author-name-prefix">IT System</div>
              Information system
          </div>
      </div>
    </article>
    <article class="card">
      <header class="card-header" routerLink="erp">
        <img src="assets/NoPath - Copy (5).png"alt="">
      </header>
      <div class="card-author">
          <a class="author-avatar" href="#">
              <img src="assets/Capture-removebg-preview (7).png"alt="">
          </a>
          <div class="author-name">
              <div class="author-name-prefix">IT System</div>
              ERP
          </div>
      </div>
    </article>
    <article class="card">
      <header class="card-header" routerLink="cloud">
        <img src="assets/NoPath - Copy (7).png"alt="">
      </header>
      <div class="card-author">
          <a class="author-avatar" href="#">
              <img src="assets/Capture-removebg-preview (7).png"alt="">
          </a>
          <div class="author-name">
              <div class="author-name-prefix">IT System</div>
              Cloud
          </div>
      </div>
    </article>
    <article class="card">
      <header class="card-header">
        <img src="assets/NoPath - Copy.png" alt="" routerLink="infrastructure">
      </header>
      <div class="card-author">
          <a class="author-avatar" href="#">
              <img src="assets/Capture-removebg-preview (7).png"alt="">
          </a>
          <div class="author-name">
              <div class="author-name-prefix">IT System</div>
              Infrastructure
          </div>
      </div>
    </article>
    <article class="card">
      <header class="card-header">
        <img src="assets/NoPath - Copy (9).png" alt="" routerLink="web">
      </header>
      <div class="card-author">
          <a class="author-avatar" href="#">
              <img src="assets/Capture-removebg-preview (7).png"alt="">
          </a>
          <div class="author-name">
              <div class="author-name-prefix">Development</div>
              Web Development
          </div>
      </div>
    </article>
    <article class="card">
      <header class="card-header">
        <img src="assets/NoPath - Copy (10).png" alt="" routerLink="mobile">
      </header>
      <div class="card-author">
          <a class="author-avatar" href="#">
              <img src="assets/Capture-removebg-preview (7).png"alt="">
          </a>
          <div class="author-name">
              <div class="author-name-prefix">Development</div>
              Mobile Development
          </div>
      </div>
    </article>
    <article class="card">
      <header class="card-header">
        <img src="assets/NoPath - Copy (11).png" alt="" routerLink="community">
      </header>
      <div class="card-author">
          <a class="author-avatar" href="#">
              <img src="assets/Capture-removebg-preview (7).png"alt="">
          </a>
          <div class="author-name">
              <div class="author-name-prefix">Marketing Digital & Design</div>
              Community Management
          </div>
      </div>
    </article>
    <article class="card">
      <header class="card-header">
        <img src="assets/NoPath - Copy (12).png" alt="" routerLink="referencement">
      </header>
      <div class="card-author">
          <a class="author-avatar" href="#">
              <img src="assets/Capture-removebg-preview (7).png"alt="">
          </a>
          <div class="author-name">
              <div class="author-name-prefix">Marketing Digital & Design</div>
              Referencement
          </div>
      </div>
    </article>
    <article class="card">
      <header class="card-header">
        <img src="assets/NoPath - Copy (13).png" alt="" routerLink="email_marketing">
      </header>
      <div class="card-author">
          <a class="author-avatar" href="#">
              <img src="assets/Capture-removebg-preview (7).png"alt="">
          </a>
          <div class="author-name">
              <div class="author-name-prefix">Marketing Digital & Design</div>
              Email Marketing
          </div>
      </div>
    </article>
    <article class="card">
      <header class="card-header">
        <img src="assets/NoPath - Copy (15).png" alt="" routerLink="mobile_marketing">
      </header>
      <div class="card-author">
          <a class="author-avatar" href="#">
              <img src="assets/Capture-removebg-preview (7).png"alt="">
          </a>
          <div class="author-name">
              <div class="author-name-prefix">Marketing Digital & Design</div>
              Mobile Marketing
          </div>
      </div>
    </article>
    <article class="card">
      <header class="card-header">
        <img src="assets/NoPath - Copy (16).png" alt="" routerLink="design">
      </header>
      <div class="card-author">
          <a class="author-avatar" href="#">
              <img src="assets/Capture-removebg-preview (7).png"alt="">
          </a>
          <div class="author-name">
              <div class="author-name-prefix">Marketing Digital & Design</div>
              Design
          </div>
      </div>
    </article>
    </section>
    